<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCoronaTest">
    get Corona Test by countries
  </button>
    
    <div class="modal fade" id="exampleModalCoronaTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelCoronaTest" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelCoronaTest">Corona Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
            <form class="form-signin" action="/widgets" method="POST">
                <label for="locationCoronaTest">Country</label>
                <input type="adress" class="form-control" id="locationCoronaTest" name="locationCoronaTest" placeholder="Country">
   
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>