<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalWord">
    get Word Definition and synonyms
  </button>
    
    <div class="modal fade" id="exampleModalWord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelWord" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelWord">Word Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
            <form class="form-signin" action="/widgets" method="POST">
                <label for="word">word</label>
                <input type="adress" class="form-control" id="word" name="word" placeholder="Word">
   
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>